<div class="container d-flex flex-row-reverse">

    <div class="card text-white bg-dark mb-3 mt-3" style="max-width: 18rem;" >
        <div class="card-header">Utilisateurs , Garages et Annonces</div>
        <div class="card-body">
          <h5 class="card-title">Overview</h5>
          <p class="card-text">Nombre d'utilisateurs : {{listUsers}} </p>
          <p class="card-text">Nombre de garages : {{listGarages}}</p>
          <p class="card-text">Nombre d'Annonces : {{listAds}}</p>
        </div>
      </div>

</div>