<div class="container">
    <div>
        <!--title-->
        <h2>Liste des garages</h2>
    </div>
    <!--BTN ADD GARAGE-->
    <div class="m-4">
      <button type="button" class="btn btn-success" routerLink="/garages/add-garage">
        Add new garage
      </button>
    </div>
    <!--END BTN-->

    <!--NB USERS-->
    <div class="text-right" >
      <p>
        Nombre total de garages: <span class="font-weight-bold">{{this.listGarages}}</span>
      </p>

    </div>
    <!--FIN NB USERS-->

    <!--form-->
    <form #Filters="ngForm" (ngSubmit)="applyFilters()">
      <!--gagrages list-->
      <table class="table table-striped table-dark">
          <thead>
              <!--table header-->
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Propriétaire</th>
              <th scope="col">Nom</th>
              <th scope="col">Code postal</th>
              <th scope="col">téléphone</th>
              <th scope="col">SIREN</th>
              <th>Recherche</th>
            </tr>
            <!--SEARCH ROW-->
            <tr>
              <th scope="col">
                <input type="text" class="form-control" [(ngModel)]="filters.id" name="id">
              </th>
              <th scope="col">
                <input type="text" class="form-control" [(ngModel)]="filters.owner" name="owner">
              </th>
              <th scope="col">
                <input type="text" class="form-control" [(ngModel)]="filters.name" name="name">
              </th>
              <th scope="col">
                <input type="text" class="form-control" [(ngModel)]="filters.postalCode" name="posstalCode">
              </th>
              <th scope="col">
                <input type="text" class="form-control" name="phone" disabled placeholder="disabled">
              </th>
              <th scope="col">
                <input type="text" class="form-control" name="siren" disabled placeholder="disabled">
              </th>
              <th>
                <!--BTN SEARCH-->
                <div>
                  <button type='submit' class="btn btn-success">
                    Search
                  </button>
                </div>
                 <!--End BTN-->
              </th>
            </tr>
            <!--END SEARCH ROW-->
          </thead>
          <tbody>
              <!--row template-->
            <tr *ngFor="let garage of garages"><!--loop on garages-->
              <th scope="row">{{garage.id}}</th>

              <td>{{garage.owner}}</td>
              
              <td>{{garage.name}}</td>

              <td>{{garage.postalCode}}</td>
              
              <td>placeholder </td>
              <td>placeholder</td>
              <td>


                  <div>
                    <!--BTN DELETE START-->
                    <button type="button" class="btn btn-danger btn-sm m-1" (click)="open(checkDelete)">
                      Supprimer
                    </button>

                    <!--BTN EDIT send to the url of the edit page with the id-->
                    <button type="button" class="btn btn-primary btn-sm m-1" [routerLink]="['/garages/garages-administration',garage.id]">
                      Modifier
                    </button>

                    <!--BTN USER VIEW to the url of the edit page with the id-->
                    <button type="button" class="btn btn-info btn-sm m-1" [routerLink]="['/garages/garage',garage.id]">
                      Detail user
                    </button>
                    <!--BTN DELETE END-->
                  </div>


                  <!--START CHECK DELETE POP UP-->
                  <ng-template #checkDelete let-modal>

                    <div class="modal-header">

                      <h4 class="modal-title" id="modal-basic-title">Suppression</h4>

                      

                    </div>

                    <div class="modal-body">

                      <p class="font-weight-bold">
                        Vous êtes sur le point de supprimer le garage <span class="text-danger">{{this.garage.name}}</span> de l'utlisateur <span class="text-danger">{{this.garage.owner}}</span>.
                      </p>
                      <p>
                        Ceci entrainera aussi la suppression des annonces liées au garage.
                      </p>
                      <p>
                        Etes vous sur de vouloir continuer? 
                      </p>
                      <br>
                      <p class="text-danger font-weight-bold">
                        Cette action est irréversible.
                      </p>
                      
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        Cancel
                      </button>

                      <button type="button" class="btn btn-danger" (click)="deleteGarage(garage.id); open(confirmDelete);modal.dismiss('Save Click')">Ok</button>

                    </div>

                  </ng-template>

                  <!--fin CHECK DELETE POP UP-->


              </td>
            </tr>
            <!--End row template-->
          </tbody>
        </table>
        <!--End table-->
      </form>
      <!--fin form-->
      <!--pagination-->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <!--PREVIOUS-->
          <!--displayed only if previousprevLink data exists-->
          <!--methode to load pages on click-->
          <li class="page-item" *ngIf="prevLink !== null">
            <a class="page-link" (click)="loadLastpage()">
              Previous
            </a>
          </li><!--affcihe lien si valeur dans lz link-->
          
          <!--ALL PAGES-->
          <!--displayed btns for all avaialable-->
          <!--methode to load pages on click-->
          <li *ngFor="let page of getPageNumbers" class="page-item" >
            <a class="page-link" (click)="loadPagebyNumber(page)">
              {{page}}
            </a>
          </li><!--methond load on click-->
          
          <!--NEXT-->
          <!--displayed only if next prevLink data exists-->
          <!--methode to load pages on click-->
          <li class="page-item" *ngIf="nextLink !== null">
            <a class="page-link" (click)="loadNextpage()">
              Next
            </a>
          </li><!--methond load on click-->
        </ul>
      </nav>
      <!-- end pagination-->

</div>


 <!--START POP UP CONFIRM DELETE-->
 <ng-template #confirmDelete let-modal>

  <div class="modal-header">

    <h4 class="modal-title" id="modal-basic-title">Suppression</h4>

    

  </div>

  <div class="modal-body">
    <p>
      Le garage à bien été supprimé.
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success" aria-label="Close" (click)="modal.dismiss('Cross click')">
      Close
    </button>

    

  </div>

</ng-template>

<!--fin POP UP-->
