<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-0">Liste utilisateurs</h5>
            </div>
            <div>
                <button type="button" class="btn btn-success">Ajouter un Utilisateur</button>
            </div>
            <div class="table-responsive">
                <table class="table no-wrap user-table mb-0">
                  <thead>
                    <tr>
                      <th scope="col" class="border-0 text-uppercase font-medium pl-4">Identifiant</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Nom</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Contact</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">SIRET</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Status</th>
                      <th scope="col" class="border-0 text-uppercase font-medium"></th>
                    </tr>
                  </thead>
                  <tbody>
                      <!--End Template row user-->
                      <!--Template row user-->
                    <tr *ngFor='let user of users'>
                      <td class="pl-4">{{user.id}}</td>
                      <td>
                        <h5 class="font-medium mb-0">{{user.lastName}} </h5>
                        <span class="text-muted">{{user.firstName}}</span><br>
                      </td>
                      <td>
                        <span class="text-muted">{{user.email}}</span><br>
                      </td>
                      <td>
                        <span class="text-muted">7 rue du port </span><br>
                        <span class="text-muted">63 000 Clermont-fd </span><br>
                        <span class="text-muted">{{user.phone}}</span><br>
                        <span class="text-muted">06 85 98 74 10</span><br>
                      </td>
                      <td>
                        <span class="text-muted">{{user.siret}}</span><br>
                      </td>
                      <td>
                        <select class="form-control category-select" id="exampleFormControlSelect1">
                          <option>Utilisateur</option>
                          <option>Admin</option>
                        </select>
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger ">Supprimer</button>
                        <button type="button" class="btn btn-primary">Modifier</button>

                      </td>
                    </tr>
                     
                    
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
