<div class="container">
  
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-0">Liste utilisateurs</h5>
            </div>
            <!--BTN ADD NEw USERS-->
            <div>
                <button type="button" class="btn btn-success" routerLink="/users/add-user">
                  Ajouter un Utilisateur
                </button>
            </div>
            <!--Success message-->
            <div *ngIf="deletion == true" class="alert alert-success text-center" role="alert" >
                The User has been deleted successfully!
            </div>
            <!-- END Success message-->
            <div class="table-responsive">
              <!--form-->
              <form #Filters="ngForm" (ngSubmit)="applyFilters()">  <!--On ne peut pas mettre de balise form dans une balise table start page 1-->
                <table class="table no-wrap user-table mb-0">
                  <thead>
                    <tr>
                      <th scope="col" class="border-0 text-uppercase font-medium pl-4">Identifiant</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Nom</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Contact</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">SIRET</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Status</th>
                      <th scope="col" class="border-0 text-uppercase font-medium"></th>
                    </tr>

                    <!-- secodn line in table heade-->
                    <tr>
                      <td>Identifiant</td>
                      
                      <td>
                        <!-- LAst name search-->
                        <div>
                          <input type="text" class="form-control" [(ngModel)]="filters.lastName" name="lastName">
                        </div>
                        <!--end input-->
                     </td>
                      <td>
                         <!-- Input for email search-->
                        <div class="form-group">
                          <input type="text" class="form-control" [(ngModel)]="filters.email" name="email"> 
                        </div>
                        <!--end input-->
                      </td>
                      <td>Contact</td>
                      <td>SIRET</td>
                      <td>Status</td>
                      <td>
                        <!--BTN SEARCH-->
                        <div>
                          <button type='submit' class="btn btn-success">
                            Search
                          </button>
                          <!--End BTN-->
                      </div>
                    </td>
                    </tr>
                    <!--fin second line-->
                  
                  </thead>
                  <tbody>
                      <!--End Template row user-->
                      <!--Template row user-->
                    <tr *ngFor='let user of users'> <!--loop for users retrieved by the get request-->
                      <td class="pl-4">{{user.id}}</td>
                      <td>
                        <h5 class="font-medium mb-0">{{user.lastName}} </h5>
                        <span class="text-muted">{{user.firstName}}</span><br>
                      </td>
                      <td>
                        <span class="text-muted">{{user.email}}</span><br>
                      </td>
                      <td>
                        <span class="text-muted">7 rue du port </span><br>
                        <span class="text-muted">63 000 Clermont-fd </span><br>
                        <span class="text-muted">{{user.phone}}</span><br>
                        <span class="text-muted">06 85 98 74 10</span><br>
                      </td>
                      <td>
                        <span class="text-muted">{{user.siret}}</span><br>
                      </td>
                      <td>
                        <select class="form-control category-select" id="exampleFormControlSelect1">
                          <option>Utilisateur</option>
                          <option>Admin</option>
                        </select>
                      </td>
                      <td>
                        <!--BTN Delete using Delet user function with user.id as argument-->
                        <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)">Supprimer</button>
                        <!--BTN send to the url of the edit page with the id-->
                        <button type="button" class="btn btn-primary" [routerLink]="['/users/users-administration', user.id]">
                          Modifier
                        </button>

                      </td>
                      
                    </tr>
                     
                    
                  </tbody>
                </table>
              </form><!--fin form-->
                <!--pagination-->
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <!--PREVIOUS-->
                    <!--displayed only if previousprevLink data exists-->
                    <!--methode to load pages on click-->
                    <li class="page-item" *ngIf="prevLink !== null"><!--affcihe lien si valeur dans el link-->
                      <a class="page-link" (click)="loadLastpage()">
                        Previous
                      </a>
                    </li>
                    
                    <!--<li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                    <li *ngFor="let page of getPageNumbers" class="page-item" >
                      <a class="page-link" (click) ="loadPageByNumber(page)">
                        {{page}}
                      </a>
                    </li>
                    <!--method load on click-->
                    <!--NEXT-->
                    <!--displayed only if next prevLink data exists-->
                    <!--methode to load pages on click-->
                    <li  *ngIf="nextLink !== null" class="page-item">
                      <a class="page-link" (click)="loadNextPage()"><!--method load on click-->
                        Next
                      </a>
                    </li>
                  </ul>
                </nav>
                <!-- end pagination-->
            </div>
        </div>
    </div>
</div>
</div>
