<div class='container'>

  <!--Form START-->
  <form *ngIf="user" #userForm="ngForm" (ngSubmit)="submit()">

      <!--input LAST NAME-->
      <div class="form-group">

        <label for="last-name">Last name</label>
        <input type="text"
              class="form-control"
              id="last-name"
              aria-describedby="lastNameHelp"
              [(ngModel)]="user.lastName"
              name="lastName"
        >
        <small id="lastNameHelp" class="form-text text-muted">Enter here the last name of the user.</small>
        <!--display error message from API-->
        <small *ngFor="let err of retrieveErrors('lastName')" class="form-text text-danger">{{err}}</small>
      
      </div>
      <!--input LAST NAME end-->

      <!--input FIRST NAME-->
      <div class="form-group">
        <label for="first-name">First name</label>
        <input type="text"
              class="form-control"
              id="first-name"
              aria-describedby="firstNameHelp"
              [(ngModel)]="user.firstName"
              name="firstName"
        >
        <small id="firstNameHelp" class="form-text text-muted">Enter here the first name of the user.</small>
        <!--display error message from API-->
        <small *ngFor="let err of retrieveErrors('firstName')" class="form-text text-danger">{{err}}</small>
      </div>
      <!--input FIRST NAME end-->

      <!--input PHONE -->
      <div class="form-group">
        <label for="phone1">Phone</label>
        <input type="string"
              class="form-control"
              id="phone1"
              aria-describedby="phone1Help"
              [(ngModel)]="user.phone"
              name="phone1"
        >
        <small id="phone1Help" class="form-text text-muted">Enter here the phone number of the user.</small>
        <!--display error message from API-->
        <small *ngFor="let err of retrieveErrors('phone')" class="form-text text-danger">{{err}}</small>
      </div>
      <!--input PHONE end-->
      
      <!--input EMAIL-->
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
              [(ngModel)]="user.email"
              name="email"
        >
        <small id="emailHelp" class="form-text text-muted">Enter here the email of the user.</small>
        <!--display error message from API-->
        <small *ngFor="let err of retrieveErrors('email')" class="form-text text-danger">{{err}}</small>
      </div>
      <!--input EMAIL end-->

      <!--input SIRET-->
      <div class="form-group">
        <label for="siret">Siret</label>
        <input type="email"
              class="form-control"
              id="siret"
              aria-describedby="siretHelp"
              [(ngModel)]="user.siret"
              name="siret"
        >
        <small id="siretHelp" class="form-text text-muted">Enter here the siret of the user.</small>
        <!--display error message from API-->
        <small *ngFor="let err of retrieveErrors('siret')" class="form-text text-danger">{{ err }}</small>
      </div>
      <!--input SIRET end-->

      <!--input GARAGES LIST -->
      <div class="form-group" *ngIf="createUserUrl === false" >

        <label for="garagesList" class="mb-2">Garages List</label>
        <small id="garagesListHelp" class="form-text text-muted row-col mb-2 ml-3">User's garages list</small>

        <div *ngFor="let garage of user.garages; let itemGarages = index" class='row d-flex justify-content-around m-2'>

           <!--use [ngModelOptions]="{standalone: true}" so all garages are displayed -->
          <input *ngIf="user.garages !== undefined "
                type="string"
                class="form-control col-md-9"
                id="garagesList"
                aria-describedby="garagesListHelp"
                [(ngModel)]="user.garages[itemGarages]"
                [ngModelOptions]="{standalone: true}"
                disabled 
          >


          <div col-md>
            <form>
            <!--BTN DELETE-->
            <button type="submit" class="btn btn-outline-danger"  (click)="open(checkDelete)">Delete garage</button>
            
            <!--BTN EDIT-->
            <button  type="submit" class="btn btn-outline-primary ml-3" [routerLink]="['/garages/garages-administration',idGarage[itemGarages]]">Edit garage</button>
          
            </form>

          </div>
          
          <!--START POP UP-->
          <ng-template #checkDelete let-modal>

            <div class="modal-header">

              <h4 class="modal-title" id="modal-basic-title">Suppression</h4>

              

            </div>

            <div class="modal-body">

              <p class="font-weight-bold">
                Vous êtes sur le point de supprimer le garage de <span class="text-danger">{{this.idGarage[itemGarages]}} de {{this.user.lastName}} {{this.user.firstName}}.</span>
              </p>
              <p>
                Ceci entrainera la suppression de toutes les données liées au garage et ses annonces).
              </p>
              <p>
                Etes vous sur de vouloir continuer? 
              </p>
              <br>
              <p class="text-danger font-weight-bold">
                Cette action est irréversible.
              </p>
              
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" aria-label="Close" (click)="modal.dismiss('Cross click')">
                Cancel
              </button>

              <button type="button" class="btn btn-danger" (click)="deleteUser(this.idGarage[itemGarages]); open(confirmDelete);modal.dismiss('Save Click')">Ok</button>

            </div>

          </ng-template>

          <!--fin POP UP-->
          
          
        
        </div>
        
        <!--display error message from API-->
        <small *ngFor="let err of retrieveErrors('garages')" class="form-text text-danger">{{err}}</small>
        
        <!--BTN NEW GARAGE-->
        <button type="submit" class="btn btn-outline-success  ml-3" routerLink="/garages/add-garage">New garage</button>

      </div>
      <!--input GARAGES end-->
    
      <!--BTN create-->
      <button type="submit" class="btn btn-success" (click)="editUser()">
        
        <span *ngIf="createUserUrl === true">
          Create the user
        </span>

        <span *ngIf="createUserUrl === false">
          Modifier l'utilisateur
        </span>
      
      
      </button>
    </form>
    <!--Form END-->
</div>


<!--START POP UP CONFIRM DELETE-->
<ng-template #confirmDelete let-modal>

  <div class="modal-header">

    <h4 class="modal-title" id="modal-basic-title">Suppression</h4>

    

  </div>

  <div class="modal-body">
    <p>
      Le garage à bien été supprimé
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success" aria-label="Close" (click)="modal.dismiss('Cross click')">
      Close
    </button>

    

  </div>

</ng-template>

<!--fin POP UP-->




