<!--form-->
<div class="container">
<form *ngIf="ad" #adForm="ngForm" (ngSubmit)="submit()">

    <!--title-->
    <div class="form-group">
      <label for="title">Ad title</label>
      <input type="text"
             class="form-control"
             id="title"
             aria-describedby="titleNameHelp"
             [(ngModel)]="ad.title"
             name="title"
      >
      <small id="titleNameHelp" class="form-text text-muted">Enter here the ad's title .</small>
      <!--display error message from API-->
      <small *ngFor="let err of retrieveErrors('title')" class="form-text text-danger">{{err}}</small>
    
    </div>
  <!--Descritpion-->
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text"
             class="form-control"
             id="description"
             aria-describedby="descriptionHelp"
             [(ngModel)]="ad.description"
             name="description"
      >
      <small id="descriptionNameHelp" class="form-text text-muted">Enter here the first name of the street for the.</small>
    
      <!--display error message from API-->
      <small *ngFor="let err of retrieveErrors('description')" class="form-text text-danger">{{err}}</small>
    
    </div>

    <!--release year-->
    <div class="form-group">
        <label for="release-year">Release Year</label>
        <input type="text"
               class="form-control"
               id="realeaseYear"
               aria-describedby="releaseYear"
               [(ngModel)]="ad.releaseYear"
               name="release-year"
        >
        <small id="releaseYearHelp" class="form-text text-muted">Enter the released year of the car.</small>
      
        <!--display error message from API-->
        <small *ngFor="let err of retrieveErrors('releaseYear')" class="form-text text-danger">{{err}}</small>
      
      </div>

      <!--KM-->
    <div class="form-group">
        <label for="km">Km</label>
        <input type="number"
               class="form-control"
               id="km"
               aria-describedby="kmHelp"
               [(ngModel)]="ad.km"
               name="km"
        >
        <small id="kmHelp" class="form-text text-muted">Enter here the number of km of the car.</small>

        <!--display error message from API-->
        <small *ngFor="let err of retrieveErrors('km')" class="form-text text-danger">{{err}}</small>
      
      </div>


      <!--price-->
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text"
               class="form-control"
               id="price"
               aria-describedby="priceHelp"
               [(ngModel)]="ad.price"
               name="price"
        >
        <small id="priceHelp" class="form-text text-muted">Enter here the car's price.</small>
      
        <!--display error message from API-->
        <small *ngFor="let err of retrieveErrors('price')" class="form-text text-danger">{{err}}</small>
      
      </div>



       <!--brand-->
    <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text"
               class="form-control"
               id="brand"
               aria-describedby="brandHelp"
               [(ngModel)]="ad.brand"
               name="brand"
        >
        <small id="brandHelp" class="form-text text-muted">Enter here the car's brand.</small>

        <!--display error message from API-->
        <small *ngFor="let err of retrieveErrors('brand')" class="form-text text-danger">{{err}}</small>
      
      </div>

         <!--Model-->
    <div class="form-group">
        <label for="model">Model</label>
        <input type="text"
               class="form-control"
               id="model"
               aria-describedby="modelHelp"
               [(ngModel)]="ad.model"
               name="model"
        >
        <small id="modelHelp" class="form-text text-muted">Enter here the car's model.</small>
      
        <!--display error message from API-->
        <small *ngFor="let err of retrieveErrors('model')" class="form-text text-danger">{{err}}</small>
      
      </div>

      <!--fuel-->
    <div class="form-group">
        <label for="fuel">Fuel</label>
        <input type="text"
               class="form-control"
               id="fuel"
               aria-describedby="fuelHelp"
               [(ngModel)]="ad.fuel"
               name="fuel"
        >
        <small id="fuelHelp" class="form-text text-muted">Enter here the car's fuel.</small>
      
        <!--display error message from API-->
        <small *ngFor="let err of retrieveErrors('fuel')" class="form-text text-danger">{{err}}</small>
      
      </div>

      <!--garage-->
    <div class="form-group">
        <label for="garage">Garage</label>
        <input type="text"
               class="form-control"
               id="garage"
               aria-describedby="garageHelp"
               [(ngModel)]="ad.garage"
               name="garage"
        >
        <small id="garageHelp" class="form-text text-muted">Enter here the car's garage name.</small>
      
        <!--display error message from API-->
        <small *ngFor="let err of retrieveErrors('garage')" class="form-text text-danger">{{err}}</small>
      
      </div>
    <!--BTN SUBMIT-->
  
    <button type="submit" class="btn btn-success">Create the ad</button>
  </form>

<!-- END form-->
</div>